@font-face {
    font-family: "Sixtyfour";
    src: url("/fonts/Sixtyfour-Regular.ttf");
}

@font-face {
    font-family: "Daydream";
    src: url("/fonts/Daydream.ttf");
}

:root {
    --bg-1: #1a1c4e;
    --bg-2: black;
    --bg-3: #0c2c17;
    --bg-4: #b44e4b;
    --fg-1: #dd1d97;
    --fg-2: #f3ca1c;
    --fg-3: #88149a;
    --fg-4: #ef1f3b;
    --fg-5: #72b8d3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    image-rendering: pixelated;
}

body {
    background-color: black;
    color: white;
}

html {
    scroll-behavior: smooth
}